################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Release
/.vs/MyFanControl/v16
/Debug
/MyFanControl/Debug
/MyFanControl/Release
